{% autoescape off %}
Hi {{ user.get_full_name|default:user.username }},

You're receiving this email because you requested a password reset for your account at {{ domain }}.

Please click the link below to reset your password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.

If you didn't request this password reset, please ignore this email. Your password won't be changed.

Thanks,
The LowPocEat Team
{% endautoescape %}
